node_modules/
client/node_modules/
server/node_modules/

client/dist/
server/.data/
.data/

.env
server/.env
client/.env
.env.local

*.log
fatal.log
server/fatal.log

.tmp-chrome*/
.DS_Store
Thumbs.db
